<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="8px" class="navigation-items">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/training">Trainings</a></li>
      <li><a routerLink="/login">LogIn</a></li>
      <li><a routerLink="/signup">SignIn</a></li>
    </ul>
  </div>
</mat-toolbar>
